<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistic Style Transfer</title>
</head>
<body>
    <h1>Upload Content and Style Images</h1>
    <form action="/transfer" method="post" enctype="multipart/form-data">
        <input type="file" name="content_image" accept="image/*"><br>
        <input type="file" name="style_image" accept="image/*"><br>
        <input type="submit" value="Transfer Style">
    </form>
</body>
</html>
